Here going to make a model that can predict whether a male or female is suffering with heart diease or not on the basis of some coditions such as Chest pain,Resting BP,Chollestrol,FastingBP and etc.

In [1]:
import pandas as pd
import numpy as np

Here reading the dataset

In [2]:
df = pd.read_csv("C:\\Users\\ASUS\\Downloads\\data sets\\heart.csv")

In [3]:
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

Checking the nan values in the dataset

In [4]:
df.isna().sum()

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

Let's check no of zero's in ever column

In [5]:
df.columns

Index(['Age', 'Sex', 'ChestPainType', 'RestingBP', 'Cholesterol', 'FastingBS',
       'RestingECG', 'MaxHR', 'ExerciseAngina', 'Oldpeak', 'ST_Slope',
       'HeartDisease'],
      dtype='object')

In [6]:
clist = ['Age', 'Sex', 'ChestPainType', 'RestingBP', 'Cholesterol', 'FastingBS',
       'RestingECG', 'MaxHR', 'ExerciseAngina', 'Oldpeak', 'ST_Slope']

In [7]:
def zeros(df,i):
    return df[i][df[i]==0].value_counts()

Here some columns are having zeor value which is not right , b'c if a person having Resting BP zero , it means he is not alive. we have to change it with somee appropriate vslues.

In [8]:
for i in clist:
    print(zeros(df,i))

Series([], Name: Age, dtype: int64)
Series([], Name: Sex, dtype: int64)
Series([], Name: ChestPainType, dtype: int64)
0    1
Name: RestingBP, dtype: int64
0    172
Name: Cholesterol, dtype: int64
0    704
Name: FastingBS, dtype: int64
Series([], Name: RestingECG, dtype: int64)
Series([], Name: MaxHR, dtype: int64)
Series([], Name: ExerciseAngina, dtype: int64)
0.0    368
Name: Oldpeak, dtype: int64
Series([], Name: ST_Slope, dtype: int64)

Here the zero's are being replaced with mean value of that column

In [9]:
def fillzeros(df,i):
    if type(df[i][0])!=str:
        df [i]=df[i].replace(0, df[i].mean())
    else:
        pass

In [10]:
df.columns

Index(['Age', 'Sex', 'ChestPainType', 'RestingBP', 'Cholesterol', 'FastingBS',
       'RestingECG', 'MaxHR', 'ExerciseAngina', 'Oldpeak', 'ST_Slope',
       'HeartDisease'],
      dtype='object')

In [11]:
clist = ['Age', 'Sex', 'ChestPainType', 'RestingBP', 'Cholesterol', 'FastingBS',
       'RestingECG', 'MaxHR', 'ExerciseAngina', 'Oldpeak', 'ST_Slope']

In [12]:
for i in clist:
    fillzeros(df,i)

Here again checking the zeros after replacement

In [13]:
for i in clist:
    print(zeros(df,i))

Series([], Name: Age, dtype: int64)
Series([], Name: Sex, dtype: int64)
Series([], Name: ChestPainType, dtype: int64)
Series([], Name: RestingBP, dtype: int64)
Series([], Name: Cholesterol, dtype: int64)
Series([], Name: FastingBS, dtype: int64)
Series([], Name: RestingECG, dtype: int64)
Series([], Name: MaxHR, dtype: int64)
Series([], Name: ExerciseAngina, dtype: int64)
Series([], Name: Oldpeak, dtype: int64)
Series([], Name: ST_Slope, dtype: int64)

As we know that a machine learning model dosen't understand categorical data . So we need to encode all the categorical data to the numerical data .

In [14]:
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140.0,289.0,0.233115,Normal,172,N,0.887364,Up,0
1,49,F,NAP,160.0,180.0,0.233115,Normal,156,N,1.000000,Flat,1
2,37,M,ATA,130.0,283.0,0.233115,ST,98,N,0.887364,Up,0
3,48,F,ASY,138.0,214.0,0.233115,Normal,108,Y,1.500000,Flat,1
4,54,M,NAP,150.0,195.0,0.233115,Normal,122,N,0.887364,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110.0,264.0,0.233115,Normal,132,N,1.200000,Flat,1
914,68,M,ASY,144.0,193.0,1.000000,Normal,141,N,3.400000,Flat,1
915,57,M,ASY,130.0,131.0,0.233115,Normal,115,Y,1.200000,Flat,1
916,57,F,ATA,130.0,236.0,0.233115,LVH,174,N,0.887364,Flat,1
917,38,M,NAP,138.0,175.0,0.233115,Normal,173,N,0.887364,Up,0

In [15]:
def outliersiqr(df,i):
    if type(df[i][0])!=str:
        q1= df[i].quantile(0.25)
        q3= df[i].quantile(0.75)
        iqr = q3-q1
        low = q1 - (1.5*iqr)
        upp = q3 + (1.5*iqr)
        vl = df[(df[i]>=low) & (df[i]<=upp)]
        df[i] = df[i].apply(lambda x : df[i].mean() if x<= low else df[i].mean() if x>=upp else x )

In [16]:
def outliersmst(df,i):
    if type(df[i][0])!=str:
        m= df[i].mean()
        sd = df[i].std()
        low = m - (3*sd)
        upp = m + (3*sd)
        ovalid = df[df[i]>=low & (df[i]<= upp)]
        df[i] = df[i].apply(lambda x : df[i].mean() if x<= low else df[i].mean() if x>=upp else x )

In [17]:
for i in df.columns:
    if type(df[i][0])!=str:
        print(df[i].skew())

-0.19593302867569365
0.6075508374550895
1.5311149643742612
1.2644841750727025
-0.14435941846180994
1.2666167717575862
-0.21508633825088655

In [18]:
def skew():
    if type(df[i][0])!=str:
        if (df[i].skew()<=0.8) or (df[i].skew()>=-0.8):
            outliersmst(df,i)
        else:
            outliersiqr(df,i)

In [19]:
for i in df.columns:
    if type(df[i][0])!=str:
        print(df[i].skew())

-0.19593302867569365
0.6075508374550895
1.5311149643742612
1.2644841750727025
-0.14435941846180994
1.2666167717575862
-0.21508633825088655

In [20]:
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140.0,289.0,0.233115,Normal,172,N,0.887364,Up,0
1,49,F,NAP,160.0,180.0,0.233115,Normal,156,N,1.000000,Flat,1
2,37,M,ATA,130.0,283.0,0.233115,ST,98,N,0.887364,Up,0
3,48,F,ASY,138.0,214.0,0.233115,Normal,108,Y,1.500000,Flat,1
4,54,M,NAP,150.0,195.0,0.233115,Normal,122,N,0.887364,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110.0,264.0,0.233115,Normal,132,N,1.200000,Flat,1
914,68,M,ASY,144.0,193.0,1.000000,Normal,141,N,3.400000,Flat,1
915,57,M,ASY,130.0,131.0,0.233115,Normal,115,Y,1.200000,Flat,1
916,57,F,ATA,130.0,236.0,0.233115,LVH,174,N,0.887364,Flat,1
917,38,M,NAP,138.0,175.0,0.233115,Normal,173,N,0.887364,Up,0

In [21]:
from sklearn.preprocessing import OneHotEncoder

In [22]:
one = OneHotEncoder(drop = "first")

In [23]:
def encode(df,i):
    if type(df[i][0])==str:
        d =one.fit_transform(df[[i]]).toarray()
        cname = one.categories_
        dd = pd.DataFrame(d, columns=cname[0][1:: ], dtype = int)
        fdf= pd.concat([df,dd], axis = 1)
        ffdf = fdf.drop([i], axis = 1)
        return ffdf

In [24]:
clist

['Age',
 'Sex',
 'ChestPainType',
 'RestingBP',
 'Cholesterol',
 'FastingBS',
 'RestingECG',
 'MaxHR',
 'ExerciseAngina',
 'Oldpeak',
 'ST_Slope']

In [25]:
for i in clist:
    df1=encode(df,i)

In [26]:
df1

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,HeartDisease,Flat,Up
0,40,M,ATA,140.0,289.0,0.233115,Normal,172,N,0.887364,0,0,1
1,49,F,NAP,160.0,180.0,0.233115,Normal,156,N,1.000000,1,1,0
2,37,M,ATA,130.0,283.0,0.233115,ST,98,N,0.887364,0,0,1
3,48,F,ASY,138.0,214.0,0.233115,Normal,108,Y,1.500000,1,1,0
4,54,M,NAP,150.0,195.0,0.233115,Normal,122,N,0.887364,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110.0,264.0,0.233115,Normal,132,N,1.200000,1,1,0
914,68,M,ASY,144.0,193.0,1.000000,Normal,141,N,3.400000,1,1,0
915,57,M,ASY,130.0,131.0,0.233115,Normal,115,Y,1.200000,1,1,0
916,57,F,ATA,130.0,236.0,0.233115,LVH,174,N,0.887364,1,1,0
917,38,M,NAP,138.0,175.0,0.233115,Normal,173,N,0.887364,0,0,1

getting some problem in onehot encoding . So let's do encoding with dummivariable

In [27]:
df2= pd.get_dummies(df, drop_first = True)

In [28]:
df2

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease,Sex_M,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA,RestingECG_Normal,RestingECG_ST,ExerciseAngina_Y,ST_Slope_Flat,ST_Slope_Up
0,40,140.0,289.0,0.233115,172,0.887364,0,1,1,0,0,1,0,0,0,1
1,49,160.0,180.0,0.233115,156,1.000000,1,0,0,1,0,1,0,0,1,0
2,37,130.0,283.0,0.233115,98,0.887364,0,1,1,0,0,0,1,0,0,1
3,48,138.0,214.0,0.233115,108,1.500000,1,0,0,0,0,1,0,1,1,0
4,54,150.0,195.0,0.233115,122,0.887364,0,1,0,1,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,110.0,264.0,0.233115,132,1.200000,1,1,0,0,1,1,0,0,1,0
914,68,144.0,193.0,1.000000,141,3.400000,1,1,0,0,0,1,0,0,1,0
915,57,130.0,131.0,0.233115,115,1.200000,1,1,0,0,0,1,0,1,1,0
916,57,130.0,236.0,0.233115,174,0.887364,1,0,1,0,0,0,0,0,1,0
917,38,138.0,175.0,0.233115,173,0.887364,0,1,0,1,0,1,0,0,0,1

Now let's split the dataset into dependent and independent columns

In [29]:
X = df2.drop("HeartDisease", axis =1)

In [30]:
X

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,Sex_M,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA,RestingECG_Normal,RestingECG_ST,ExerciseAngina_Y,ST_Slope_Flat,ST_Slope_Up
0,40,140.0,289.0,0.233115,172,0.887364,1,1,0,0,1,0,0,0,1
1,49,160.0,180.0,0.233115,156,1.000000,0,0,1,0,1,0,0,1,0
2,37,130.0,283.0,0.233115,98,0.887364,1,1,0,0,0,1,0,0,1
3,48,138.0,214.0,0.233115,108,1.500000,0,0,0,0,1,0,1,1,0
4,54,150.0,195.0,0.233115,122,0.887364,1,0,1,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,110.0,264.0,0.233115,132,1.200000,1,0,0,1,1,0,0,1,0
914,68,144.0,193.0,1.000000,141,3.400000,1,0,0,0,1,0,0,1,0
915,57,130.0,131.0,0.233115,115,1.200000,1,0,0,0,1,0,1,1,0
916,57,130.0,236.0,0.233115,174,0.887364,0,1,0,0,0,0,0,1,0
917,38,138.0,175.0,0.233115,173,0.887364,1,0,1,0,1,0,0,0,1

In [31]:
y = df2["HeartDisease"]

In [32]:
y

0      0
1      1
2      0
3      1
4      0
      ..
913    1
914    1
915    1
916    1
917    0
Name: HeartDisease, Length: 918, dtype: int64

let's split the data into train and test

In [33]:
from sklearn.model_selection import train_test_split

In [34]:
Xtrain,Xtest,ytrain,ytest = train_test_split(X,y, test_size = 0.20)

In [35]:
Xtrain.shape, Xtest.shape, ytrain.shape,  ytest.shape

((734, 15), (184, 15), (734,), (184,))

In [36]:
from xgboost import XGBClassifier

In [37]:
xg = XGBClassifier()

In [38]:
xg.fit(Xtrain,ytrain)

XGBClassifier(base_score=0.5, booster='gbtree', callbacks=None,
              colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
              early_stopping_rounds=None, enable_categorical=False,
              eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
              importance_type=None, interaction_constraints='',
              learning_rate=0.300000012, max_bin=256, max_cat_to_onehot=4,
              max_delta_step=0, max_depth=6, max_leaves=0, min_child_weight=1,
              missing=nan, monotone_constraints='()', n_estimators=100,
              n_jobs=0, num_parallel_tree=1, predictor='auto', random_state=0,
              reg_alpha=0, reg_lambda=1, ...)

In [39]:
xg.score(Xtest,ytest)

0.8695652173913043

let's do scaling

In [40]:
from sklearn.preprocessing import StandardScaler

In [41]:
ss = StandardScaler()

In [42]:
ss.fit(Xtrain)

StandardScaler()

In [43]:
Xtr_ss = ss.transform(Xtrain)

In [44]:
Xte_ss = ss.transform(Xtest)

In [45]:
xgs = XGBClassifier()

In [46]:
xgs.fit(Xtr_ss,ytrain)

XGBClassifier(base_score=0.5, booster='gbtree', callbacks=None,
              colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
              early_stopping_rounds=None, enable_categorical=False,
              eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
              importance_type=None, interaction_constraints='',
              learning_rate=0.300000012, max_bin=256, max_cat_to_onehot=4,
              max_delta_step=0, max_depth=6, max_leaves=0, min_child_weight=1,
              missing=nan, monotone_constraints='()', n_estimators=100,
              n_jobs=0, num_parallel_tree=1, predictor='auto', random_state=0,
              reg_alpha=0, reg_lambda=1, ...)

In [47]:
xgs.score(Xte_ss,ytest)

0.8695652173913043

Let's do cross validation

In [48]:
sd = StandardScaler()

In [49]:
xtr = sd.fit_transform(X)

In [50]:
from sklearn.model_selection import KFold,cross_val_score

In [51]:
gs = XGBClassifier()

In [52]:
kf = KFold(n_splits= 10)

In [53]:
score = cross_val_score(gs,xtr,y,cv = kf).mean()

In [54]:
score

0.8429646440516005

Let's do it with pipe line

In [55]:
from sklearn.pipeline import make_pipeline

In [56]:
pipe = make_pipeline(StandardScaler(),XGBClassifier())

In [57]:
pipe.fit(Xtr_ss,ytrain)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('xgbclassifier',
                 XGBClassifier(base_score=0.5, booster='gbtree', callbacks=None,
                               colsample_bylevel=1, colsample_bynode=1,
                               colsample_bytree=1, early_stopping_rounds=None,
                               enable_categorical=False, eval_metric=None,
                               gamma=0, gpu_id=-1, grow_policy='depthwise',
                               importance_type=None, interaction_constraints='',
                               learning_rate=0.300000012, max_bin=256,
                               max_cat_to_onehot=4, max_delta_step=0,
                               max_depth=6, max_leaves=0, min_child_weight=1,
                               missing=nan, monotone_constraints='()',
                               n_estimators=100, n_jobs=0, num_parallel_tree=1,
                               predictor='auto', random_state=0, reg_alpha=0,
                               reg_lambda=1, ...))])

In [58]:
pipe.score(Xte_ss,ytest)

0.8695652173913043

In [59]:
kf = KFold(n_splits= 10)

In [60]:
cross_val_score(pipe,X,y,cv= kf).mean()

0.8429646440516005